.messages{
    display: grid;
    grid-template-columns: 4fr 9fr;
    padding: 40px 90px;

}

h2{
    padding: 40px 0 0 40px;
}
.dialogMessages{
    margin-top: 10px;

}
.newMessageItem{
    margin-top: 20px;
}