.store{
    width: 100%;
}

.title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;


}
.items{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 40px;
    flex-wrap: wrap;


}
@media  (max-width: 767px){
    .items{

    }
}
