.cart{
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 2fr;
    font-size: 20px;

}
.dataInner{
    border: 1px solid black;
    padding: 20px 15px;
    margin-top: 65px;
}
.buttons button{

}
.emptyText{
    text-align: center;
    color: #5a6268;
    width: 100%;
    font-size:4rem;
    margin-left: 3.1rem;
    margin-top: 2rem;

}

@media (max-width: 754px) {
    .cart{
        margin: 0 auto;
        text-align: center;
        width: 50%;
        grid-template-columns: 9fr ;
        grid-template-rows: auto;
    }
}