.profileImg{
    width: 200px;
    height: 300px;
    border-radius: 0;
}
.profileInfo{
    text-align: center;
    padding-top: 10px;
}
.description{
    margin-top: 10px;
}


.myPosts{
    font-weight: 700;
    font-size: 33px;
    padding: .8em 3em;


}
button{

}
