.myPosts{
    font-size: 20px;
}
.addPost{


}
textarea{
    outline: none;
    max-width: 10em;
    box-shadow: 11px 2px 20px ;
    resize: none;
    padding: 0 5px;
    color: black;
    background: #5a6268;
    font-weight: 700;
}
