.posts{
    padding: 20px;
}
.postsContainer{
    display: flex;
    flex-direction: column;

}
.postsContainer textarea{
    width: 200px;
}
.postsContainer button{
    width: 100px;
    margin: 10px 0;
}
.postsItems img{
    width: 50px;
    height: 50px;
}
.postsItems label{
    font-size: 16px;
    color: white;
    margin-left: 20px;
}
.postsItem{
    margin: 15px;

}
