.item{
    width: 25%;
    margin: 15px 30px;



}
.item img{
    width: 150px;
    height: 150px;
    margin: 0 auto;

}


@media (max-width: 970px) {
    .item{
        width: 33%;

    }
}
@media (max-width: 771px) {
    .item{
        width: 100%;
        margin: 10px auto;
    }
}
