.header{
    grid-area: h;
    background-color: #062c33;
    padding: 15px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    color: white;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1px;



}
.circle{
    width: 50px;
    height: 50px;

    border-radius: 50%;
    animation: colored 5s infinite;
}

@keyframes colored {
    0%{
        transform: rotateX(0deg);
        background: linear-gradient(90deg,rebeccapurple,blue);

    }
    50%{
        transform: rotateZ(180deg);
        background: linear-gradient(45deg,blue,red);
    }
    100%{
        transform: rotateX(360deg);
        background: linear-gradient(90deg,rebeccapurple,blue);
    }
}