.navbar{
    width: 100%;
    text-align: center;

}
ul{
    list-style: none;
}

li{
    display: inline-flex;
    margin-right: 20px ;
    font-size: 15px;

}

li a {
    text-decoration: none;
    color: black;
}