.createBox{
  width: 100%;
  background: url("https://img4.goodfon.ru/wallpaper/nbig/2/7a/prazdnik-podarok-lenta-bantik-fon.jpg") 50%/cover no-repeat;
  height: 450px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .text{
    text-align: center;
    z-index: 2;
    .title{
      font-size: 70px;
      font-weight: 700;
      color: white;


    }
    .subtitle{
      color: white;
      font-weight: 700;
      font-size: 22px;
      margin: 40px 0;
    }
    a{
      padding: 18px 40px;
      text-decoration: none;
      background: white;
      color: black;
      border-radius: 25px;
      font-size: 13px;
      font-weight: 700;
      transition: .4s;
      &:hover{
        background:#e43a45;
      }
    }
  }
}
@media (max-width: 619px) {
  .createBox{
    .text{
      .title{
        font-size: 35px;
      }
      .subtitle{
        font-size: 14px;
        word-break: break-word;
      }
    }
  }
}