.footer{
  width: 100%;
  background: black;
  min-height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  .pay{

    .insta{

      margin: 10px 20px;
      width: 50px;
      height: 50px;
    }
  }
  .title{
    font-size: 20px;
    padding: 0 0 10px 0;

  }
  ul{
    li{
      list-style: none;
      margin: 10px 0;
      a{
        text-decoration: none;
        color: white;
      }
    }
  }
  .main{

  }
}

@media (max-width: 911px) {
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .pay{
      display: block;
      text-align: center;
      margin-bottom: 20px;
    }
    .main{
      text-align: center;

      ul{
        display: flex;
        flex-wrap: wrap;
        li{
          margin: 0 20px;
        }
      }
    }
    .useful{
      text-align: center;
      ul{
        display: flex;
        flex-wrap: wrap;
        li{
          margin: 0 20px;
        }
      }
    }
    .category{
      text-align: center;
      ul{
        display: flex;
        flex-wrap: wrap;
        li{
          margin: 0 20px;

        }
      }
    }
  }
}