.profileInfo{
    width: 100%;
    text-align: center;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.profilePhoto img{
    width: 200px;
    height: 300px;
}
.profileInfoContainer{
    max-width: 500px;
    padding: 20px 40px;
    border: 2px solid grey;
    box-shadow: gray 3px 3px 10px ;
    background: darkgray;
    margin: 10px;



}
.profileDescription .name{
    font-size: 20px;
    font-weight: 700;
}
.profileDescription div{
    margin-bottom: 10px;
}
.buttons{
    display: flex;
    flex-direction: column;


}
.buttons button{
    margin-bottom: 40px;
    width: 150px;
}