.myPost img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px 20px 10px 0;
}
.myPost span{
    font-size: 20px;
    color: white;
    word-break: break-word;
}
.myPost {
    background:linear-gradient(90deg,darkslateblue,brown);
    margin: 10px 0;
}