*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.app-wrapper{

    max-width: 1200px;
    margin: 10px  auto;
    padding: 0 15px;

    min-height: 500px;
    overflow: hidden;



}

@media (max-width: 1200px) {
    .app-wrapper{
        max-width: 970px;
    }
}
@media (max-width: 970px) {
    .app-wrapper{
        max-width: 750px;
    }
}
@media (max-width: 750px) {
    .app-wrapper{
        max-width: 300px;

    }
}