
.app-wrapper{

    width: 1200px;
    margin: 10px  auto;


    min-height: 500px;


}

@media (max-width: 1200px) {
    .app-wrapper{
        max-width: 970px;
    }
}
@media (max-width: 970px) {
    .app-wrapper{
        max-width: 750px;
    }
}
@media (max-width: 750px) {
    .app-wrapper{
        max-width: none;

    }
}