ol li{
    display: inline-flex;
    margin: 20px 10px;
    align-items: center;
}
img{
    width: 80px;
    height:80px;
}
.item{
    background: #e3e0e0;
    margin-right: 40px;

}
li img{
    margin-right: 20px;
}
li div{
    margin-right: 20px;
}
.buttons{

}

@media (max-width: 500px){
    ol li{
        display: block;
        width: 100%;

    }
    .item{
        margin: 0 auto;
    }
}