
.slider {
  width: 100% ;
  min-height: 40%;
  margin-top: 100px;
  .body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex: 0 0  ;


    .title{
      margin-bottom: 40px;
      font-size: 70px;
      font-weight: 600;

    }
    .subtitle{
      font-size: 28px;
      font-weight: 600;
      margin: 30px 0;
    }
  }
  .addGift {
    display: inline-block;
    margin-bottom: 20px;
    padding: 18px 30px;
    background: #e43a45;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border-color: transparent;
    transition: .4s;

    &:hover {
      background: white;
      color: #e43a45;
    }
  }

  .slide{
    display: block;
    width: 100%;
    background: 50%/cover no-repeat;
    height: 450px;
    filter: blur(5px);


  }
}
@media (max-width: 524px) {
  .slider{
    .body{
      .title{
        font-size: 40px;
      }
      .subtitle{
        font-size: 20px;
      }
    }
  }
}